.wrapper {
  display: flex;
  align-items: strech;
  height: 48px;
  background-color: var(--color-primary);
  /* position: relative; */
  /* border: 1px solid red; */
}

.search {
  padding: 14px 20px;
  height: 100%;
  width: 502px;
  border-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  /* background-color: 1px solid var(--color-black); */
  color: black;
  /* border: 1px solid greenyellow; */
  background-color: #fff;
  overflow: hidden;
}

.searchButton {
  border-radius: 0px 8px 8px 0px;
  padding: 14px 20px;
  height: 100%;
  border: 1px solid var(--color-black);
  border-left: none;
  cursor: pointer;
}
